body {
    background-color: #e3f0ff ;
}

.card {
    display: flex;
    align-items: center;
    background-color: rgb(132, 186, 243);
    padding: 50px;
    border-radius: 10px;
    margin: 5em;
}

#container {
    background-color: lightskyblue;
    border: 20px solid  #d2e7ff;
    height: 275px;
    width: 750px;
    margin: auto;
    text-align: center;
    align-items: center;
    padding: 80px 0;
    border-radius: 10px;
}

#input {
    width: 100px;
    margin: 25px auto;
}

#btn {
    margin: 25px auto auto;
}